<!DOCTYPE html>
<html>
  <head>
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <style>
    #option{
      text-align: center;
      background-color: blue;
      color: white;
      font-size: 24px;
      font-family: "Lucida Console", Monaco, monospace;
      text-shadow: 0px;
    }
    #option:hover{
      background-color: darkblue;
    }
    #login{
      margin: 20px;
    }
    label{
      display: inline;
      font-size: 18px;
    }
    #more{
      background-color: dodgerblue;
      outline: none;
    }
    #more:hover{
      background-color: blue;
    }
  </style>

  <body>
    <div class="navbar navbar-default">
          <ul class="nav navbar-nav">
              <li><a href="/" id="option">Home</a></li>
              <li><% if @user.name == "Empty"%>
                      <a href="/login" id="option">Login</a></li>
              <% else %>
                    <li><a href="/users/<%=@user.id%>" id="option"><%=@user.name.capitalize%></a></li>
                    <li><a href="/logout/<%=@user.id%>" id="option">Logout</a></li>
              <% end %>
          </ul>
    </div>

    <%=yield%>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

  </body>
</html>
