Sign up or Sign in: <br>
<form class="" action="/login" method="post">
  Username: <input type="text" name="name"><br>
  Password: <input type="text" name="password"><br>
  <input type="submit" value="Login">
</form>
